<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- mybatis에서 기본 제공하는 별칭은 봐둬라 기본형,String,Collection 같은거 제공 -->
	<typeAliases>
		
	</typeAliases>
	<!-- dateSource 연결은 Spring에서 해줄거다 -->
	<mappers>
		
	</mappers>
</configuration>